/* Variables (Fonts and Colors) */
:root {
  --font-space-grotesk: "Space Grotesk";
  --green: #b9ff66;
  --dark: #191a23;
  --grey: #f3f3f3;
  --black: #000000;
  --white: #fff;
}

/* Reset Styles */
html {
  font-family: var(--font-space-grotesk);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* --------------------------- */
/* -- Section Navbar Styles -- */
/* --------------------------- */

.navbar {
  background-color: var(--white);
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0;
  margin: 0 auto;
  z-index: 99;
}

.navbar .navbar__logo {
  height: 30px;
  width: 200px;
}

.navbar__logo img {
  height: 100%;
  width: 100%;
}

#hamburguer__menu {
  font-size: 40px;
  cursor: pointer;
  display: none;
}

.navbar .navbar__links {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navbar__links .navbar__item {
  color: var(--dark);
  padding: 15px 25px; 
}

.navbar__item .navbar__link {
  color: inherit;
  font-weight: 600;
}

.navbar__links .navbar__item--modifier {
  border: 1px solid var(--dark);
  border-radius: 0.7rem;
  cursor: pointer;
  transition: all 400ms ease;
}

.navbar__item--modifier:hover {
  color: var(--white);
  background-color: var(--dark);
}

/* ------------------------- */
/* -- Section Hero Styles -- */
/* ------------------------- */

section.hero {
  padding: 140px 0 80px 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero__texts {
  display: grid;
  gap: 1.5rem;
}

.hero__texts .hero__texts--title {
  width: 90%;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  line-height: 1.2;
}

.hero__texts--paragraph {
  width: 90%;
  font-size: 18px;
  line-height: 1.5;
}

.hero__texts--button {
  color: var(--white);
  justify-self: flex-start;
  display: inline-block;
  padding: 1.2rem 2rem;
  font-size: 20px;
  background-color: var(--dark);
  border: none;
  border-radius: 0.7rem;
}

.hero__image--mobile {
  display: none;
}

.hero .hero__ilustration {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.hero__ilustration .hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* --------------------------- */
/* -- Section Brands Styles -- */
/* --------------------------- */

section.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.brands img {
  filter: grayscale(1);
  transition: filter 500ms ease;
}

.brands img:hover {
  filter: grayscale(0);
}

/* ----------------------------- */
/* -- Section Services Styles -- */
/* ----------------------------- */

section.services {
  padding: 80px 0;
}

.flex__texts {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.flex__texts .title {
  padding: 5px;
  font-size: 2rem;
  background-color: var(--green);
  border-radius: 0.4rem;
}

.flex__texts .paragraph:not(.services__paragraph) {
  width: 35%;
  min-width: 250px;
}

/* -- Cards -- */

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 270px;
  gap: 2rem;
}

.services__paragraph {
  width: 45%;
  min-width: 250px;
}

.card {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--black);
  border-bottom-width: 5px;
  border-radius: 2rem;
  position: relative;
}

.card__green {
  background-color: var(--green);
}

.card__grey {
  background-color: var(--grey);
}

.card__dark {
  background-color: var(--dark);
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info .card__info--title {
  display: flex;
  flex-direction: column;
}

.card__info--title span {
  width: max-content;
  font-size: 22px;
  font-weight: 600;
  padding: 3px;
  border-radius: 0.3rem;
}

.card__info--title span.bg__green {
  background-color: var(--green);
}

.card__info--title span.bg__grey {
  background-color: var(--grey);
}

.card__info--title span.bg__white {
  background-color: var(--white);
}

.card .card__info > a {
  color: var(--dark);
}

.card__dark .card__info > a {
  color: var(--white);
}

.card__info--button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.card > img {
  height: 160px;
  width: 150px;
  margin-block: auto;
}

/* ------------------------ */
/* -- Section CTA Styles -- */
/* ------------------------ */

section.cta {
  padding-left: 50px;
  background-color: var(--grey);
  border-radius: 2rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.cta__info {
  width: min(90%, 500px);
  display: grid;
  gap: 1.5rem;
}

.cta__info--title {
  font-size: 2rem;
}

.cta__info--paragraph {
  font-size: 19px;
}

.cta__info--button {
  color: var(--white);
  background-color: var(--dark);
  padding: 20px 30px;
  display: inline-block;
  place-self: flex-start;
  font-size: 18px;
  border: none;
  border-radius: 0.5rem;
}

/* --------------------------------- */
/* -- Section Case Studies Styles -- */
/* --------------------------------- */

section.case__studies {
  padding: 100px 0;
}

.case__studies--paragraph {
  width: 40%;
  min-width: 150px;
}

.case__studies--container {
  color: var(--white);
  background-color: var(--dark);
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 2.5rem;
}

.case__studies--container article {
  padding: 30px;
  padding-top: 0;
  display: grid;
  gap: 1.5rem;
}

.case__studies--container article:first-child {
  border-right: 1px solid var(--white);
}

.case__studies--container article:last-child {
  border-left: 1px solid var(--white);
}

.case__studies--article--paragraph {
  font-size: 20px;
}

.case__studies--article--button {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.case__studies--article--button span {
  color: var(--green);
}

/* ------------------------------------ */
/* -- Section Working Process Styles -- */
/* ------------------------------------ */

.working__process--texts .working__process--paragraph {
  width: 23%;
  min-width: min-content;
}

.container__accordeon {
  display: grid;
  gap: 2.5rem;
}

details.accordeon {
  padding: 35px;
  background-color: var(--grey);
  border-radius: 2rem;
  border: 1px solid var(--dark);
  border-bottom-width: 5px;

  --icon-question: url("../assets/icons/plus.png");
}

.accordeon__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordeon__title::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--dark);
  background-image: var(--icon-question);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.summary__title {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  place-items: center;
  gap: 2rem;
}

.summary__title .summary__number {
  font-size: 50px;
  font-weight: 900;
}

.summary__title .summary__text {
  font-weight: 600;
}

details.accordeon[open] {
  background-color: var(--green);
  --icon-question: url("../assets/icons/minus.png");
}

.accordeon__info {
  margin-top: 1.5rem;
  padding: 20px 0;
  border-top: 1px solid var(--dark);
}

/* ------------------ */
/* -- Section Team -- */
/* ------------------ */

section.team {
  padding: 100px 0;
}

.container__team {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container__team--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.team__card {
  padding: 45px 40px;
  border: 1px solid var(--dark);
  border-bottom-width: 5px solid var(--dark);
  border-radius: 2rem;
  display: grid;
  gap: 1.5rem;
}

.team__card--info {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid var(--dark);
}

.card__info--user {
  display: flex;
  flex-direction: column;
}

.card__info--user .card__info--user--name {
  font-weight: 800;
}

.card__info--linkedin {
  position: absolute;
  top: 0;
  right: 0;
}

.team__button {
  color: var(--white);
  background-color: var(--dark);
  width: 200px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: lighter;
  display: inline-block;
  align-self: flex-end;
  border: none;
  border-radius: 0.7rem;
}

/* ------------------------------- */
/* -- Testimonial Slider Styles -- */
/* ------------------------------- */

section.testimonial {
  margin: 20px 0 120px 0;
}

.slider__container {
  padding: 100px 0;
  width: 100%;
  max-width: 1200px;
  background-color: var(--dark);
  border-radius: 2.2rem;
  position: relative;
}

.slider {
  height: 100%;
  display: flex;
  transition: transform 500ms ease;
}

.slide {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__content {
  width: 50%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slide__text {
  color: var(--white);
  padding: 30px;
  border: 1px solid var(--green);
  border-radius: 1.5rem;
}

.slide__text .slide__text--paragraph {
  line-height: 1.4;
}

.slide__user {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.slide__user--name {
  font-size: 20px;
  color: var(--green);
}

.slide__user--ocupation {
  color: var(--white);
}

.slider__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider__controls > button {
  background-color: transparent;
  color: var(--white);
  border: none;
  outline: none;
  font-size: 40px;
}

.slider__controls button:first-child {
  margin-left: 20px;
}
.slider__controls button:last-child {
  margin-right: 20px;
}

.slider__dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  display: flex;
}

.slider__dot {
  width: 12px;
  height: 12px;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 10px;
  user-select: none;
  cursor: pointer;
}

.slider__dot.active {
  background-color: var(--green);
}

/* ---------------------------- */
/* -- Contact Section Styles -- */
/* ---------------------------- */

.contact .contact__texts .contact__texts--paragraph {
  width: 25%;
  min-width: 323px;
}

.contact__content {
  background-color: var(--grey);
  padding: 40px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form__group--radio {
  display: flex;
}

.form__group--radio label.label__radio:last-child {
  margin-left: 55px;
}

form.contact__form {
  width: 55%;
}

input[type="radio"] {
  appearance: none;
}

label.label__radio {
  position: relative;
  left: 40px;
  cursor: pointer;
}

label.label__radio::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--dark);
}

input[type="radio"]:checked + label.label__radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-color: var(--green);
  border-radius: 50%;
}

.form__group--content {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group :is(input, textarea) {
  padding: 20px;
  border-radius: 0.8rem;
  border: 1px solid var(--dark);

  transition: 600ms ease;
}

:is(input:focus, textarea:focus) {
  outline: none;
  border: 1px solid var(--green);
}

.form__img {
  height: 550px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -260px;
}

textarea#message {
  resize: none;
  height: 150px;
}

textarea#message::placeholder,
::placeholder {
  font-family: var(--font-space-grotesk);
}

.form__button {
  background-color: var(--dark);
  color: var(--white);
  display: inline-block;
  padding: 15px 0;
  font-size: 20px;
  font-weight: lighter;
  border-radius: 0.4rem;
  border: none;
}

/* --------------------------- */
/* -- Footer Section Styles -- */
/* --------------------------- */

footer.footer {
  margin-top: 7rem;
  background-color: var(--dark);
  padding: 50px 50px 0 50px;
  border-radius: 1.5rem 1.5rem 0 0;
}

.footer__grid {
  color: var(--white);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "logo links social--media"
    "contact news news";
  row-gap: 4rem;
  margin-bottom: 3rem;
}

.footer__logo {
  width: 170px;
  grid-area: logo;
}

.footer__links {
  grid-area: links;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-left: -100px;
}

.footer__links a {
  color: inherit;
  text-decoration: underline;
}

.footer__social {
  grid-area: social--media;
  display: flex;
  gap: 1.5rem;
}

.footer__contact {
  grid-area: contact;
  display: grid;
  gap: 1.5rem;
}

.footer__contact--title {
  color: var(--dark);
  width: max-content;
  padding: 2px 5px;
  font-size: 1.5rem;
  background-color: var(--green);
  border-radius: 0.4rem;
}

.footer__input {
  padding: 30px;
  grid-area: news;
  height: 100%;
  width: 80%;
  background-color: #292a32;
  display: flex;
  place-self: end;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__input > * {
  width: 100%;
  padding: 20px;
  border-radius: 0.7rem;
}

.footer__input--email {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}

.footer__input--email::placeholder {
  color: var(--white);
}

.footer__input--button {
  color: var(--dark);
  background-color: var(--green);
  text-align: center;
  cursor: pointer;
}

.footer__copy {
  color: var(--white);
  padding: 40px 0;
  border-top: 1px solid var(--white);
  display: grid;
  grid-auto-flow: column;
  place-content: start;
  gap: 2.5rem;
}

.footer__copy a {
  color: var(--white);
  text-decoration: underline;
}

/* Media Queries Small Computers and Tablets */

@media (width <= 1048px) {
  #hamburguer__menu {
    display: block;
    z-index: 100;
  }

  .navbar__links {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--grey);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;

    transform: translateX(-100%);
    transition: transform 500ms ease-out;
  }

  .active {
    transform: translateX(0);
  }

  .navbar__links .navbar__item .navbar__link {
    font-size: 25px;
  }

  section.hero {
    grid-template-columns: 1fr;
  }

  .hero__texts {
    place-items: center;
    text-align: center;
  }

  .hero__texts--button {
    justify-self: center;
  }

  .hero__image {
    display: none;
  }

  .services__cards {
    grid-template-columns: 1fr;
  }

  .case__studies--container {
    flex-direction: column;
  }

  .case__studies--container article {
    padding: 15px 0;
  }

  .case__studies--container article:first-child {
    border-right: 0;
    border-bottom: 1px solid var(--white);
  }

  .case__studies--container article:nth-child(2) {
    border-left: 0;
    border-bottom: 1px solid var(--white);
  }

  .case__studies--container article:last-child {
    border-left: 0;
  }

  .footer__grid {
    grid-template-areas:
      "logo social--media"
      "contact news"
      "links links";
  }

  .footer__links {
    margin-left: 0;
    justify-content: space-evenly;
  }

  .footer__input {
    flex-direction: column;
  }

  .footer__social {
    place-self: end;
  }
}

@media (width <= 876px) {
  section.brands {
    justify-content: center;
  }

  .flex__texts {
    flex-direction: column;
    text-align: center;
  }

  .flex__texts .paragraph {
    width: 100% !important;
  }

  section.cta {
    padding: 40px;
    justify-content: center;
  }

  .hero__image--mobile {
    display: block;
    height: 300px;
    width: 100%;
  }

  .cta__info {
    text-align: center;
  }

  .cta__info--button {
    place-self: center;
  }

  .cta__image {
    display: none;
  }

  .contact__content {
    justify-content: center;
  }

  form.contact__form {
    width: 100%;
  }

  .form__img {
    display: none;
  }

  .footer__grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "links"
      "contact"
      "news"
      "social--media";
    place-items: center;
  }

  .footer__links {
    flex-direction: column;
  }

  .footer__links a {
    font-size: 20px;
    text-decoration: none;
  }

  .footer__contact {
    place-items: center;
    text-align: center;
  }

  .footer__input {
    width: 100%;
    place-self: center;
  }

  .footer__social {
    place-self: center;
  }

  .footer__copy {
    place-content: center;
  }

  .blog {
    display: none;
  }
}

/* Media Queries Mobile Devices */

@media (width <= 476px) {
  .navbar__links .navbar__item .navbar__link {
    font-size: 20px;
  }

  section.brands {
    justify-content: center;
  }

  .card__info--button span {
    display: none;
  }

  .card .card__image {
    height: 110px;
    width: 110px;
    position: absolute;
    bottom: 35px;
    right: 25px;
  }

  section.cta {
    padding: 20px;
  }

  .cta__info--button {
    padding: 20px;
  }

  .case__studies--container {
    padding: 30px;
  }

  details.accordeon {
    padding: 15px;
  }

  .summary__title {
    gap: 0.7rem;
  }

  .summary__title .summary__number {
    font-size: 25px;
  }

  .summary__title .summary__text {
    font-size: 12px;
  }

  .accordeon__title::after {
    width: 25px;
    height: 25px;
  }

  .slider__controls {
    transform: unset;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
  }

  footer.footer {
    padding: 40px 20px 0 20px;
  }

  .footer__input {
    padding: 20px;
  }

  .footer__copy {
    grid-auto-flow: row;
    text-align: center;
  }
}

@media (width <= 375px) {
  .container__team--cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .team__card {
    padding: 20px;
  }

  .summary__title .summary__text {
    font-size: 10px;
  }

  .slide__content {
    padding: 0 20px;
  }

  .contact__content {
    padding: 30px 20px 20px 20px;
    border-radius: 0.5rem;
  }
}